* {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0;
  padding-inline: 5px;
  padding-block: 0;

  .input {
    width: 150px;
    margin-right: 12px;
  }
}

.txt-gray {
  color: gray;
}
.txt-black {
  color: black;
}
.mr {
  margin-right: 1rem;
}

.flex {
  display: flex;
}
